{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="container">
  <hr />
  <h2 class="heading shopping">Shopping Bag</h2>
  <hr />

  <div class="">
    <div class="col">
      {% if bag_items %}
      <div>
        <p class="para">Product Info</p>
      </div>
      <div class="shooping_bag_grid">
        <p></p>
        <p></p>
        <p class="allproducts_name para">Price</p>
        <p class="allproducts_name para">Qty</p>
        <p class="allproducts_name para">Subtotal</p>

        {% for item in bag_items %}

        <img
          class="img-fluid rounded"
          src="../../../static/images/{{item.product.img.url}}"
        />

        <p class="allproducts_name para">
          <strong
            >{{ item.product.name }}
            <br />
            {{ item.product.sku|upper }}
          </strong>
        </p>

        <p class="allproducts_name para">${{ item.product.price }}</p>

        <p class="allproducts_name para">
          <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                            <span>
                                <i class="fas fa-minus fa-sm"></i>
                            </span>
                        </button>
                    </div>
                    <input class="form-control form-control-sm qty_input" type="number"
                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                        data-item_id="{{ item.item_id }}"
                        id="id_qty_{{ item.item_id }}">
                    <div class="input-group-append">
                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                            <span>
                                <i class="fas fa-plus fa-sm"></i>
                            </span>
                        </button>
                    </div>
                    {% if item.product.has_sizes %}
                        <input type="hidden" name="product_size" value="{{ item.size }}">
                    {% endif %}
                </div>
            </div>
        </form>
        <a class="update-link text-info"><small>Update</small></a>
        <a class="remove-item text-danger float-right" data-size="{{item.size}}" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
        </p>

        <p class="allproducts_name para">${{ item.product.price }}</p>

        {% endfor %}

        <h6 class="allproducts_name para">
          <strong>Bag Total: ${{ total|floatformat:2 }}</strong>
        </h6>
        <h6 class="allproducts_name para">
          Delivery: ${{ delivery|floatformat:2 }}
        </h6>
        <h4 class="allproducts_name para">
          <strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong>
        </h4>
        {% if free_delivery_delta > 0 %}
        <p class="allproducts_name para">
          You could get free delivery by spending just
          <strong>${{ free_delivery_delta }}</strong> more!
        </p>
        {% endif %}

        <a
          href="{% url 'products' %}"
          class="btn btn-outline-black rounded-0 btn-lg"
        >
          <span class="icon">
            <i class="fas fa-chevron-left"></i>
          </span>
          <span class="text-uppercase">Keep Shopping</span>
        </a>
        <a href="" class="allproducts_name para">
          <span class="text-uppercase">Secure Checkout</span>
          <span class="icon">
            <i class="fas fa-lock"></i>
          </span>
        </a>
      </div>
      {% else %}
      <p class="allproducts_name para">Your bag is empty.</p>
      <a href="{% url 'products' %}" class="allproducts_name para">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span class="allproducts_name para">Keep Shopping</span>
      </a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
  console.log("dafasdfasdfta")
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
