{% extends "base.html" %} {% load static%} {% block content%}
<section class="home_section_1">
  <div class="container">
    <div class="home_sec_1_flex">
      <div class="home_sec_1_flex_col1">
        <img
          src="{% static 'images/5bd90a8aef82dc5918248baa_cushion.jpg' %}"
          alt="Example Image"
        />
      </div>
      <div class="home_sec_1_flex_col2_main">
        <div class="home_sec_1_flex_col2">
          <p>New</p>
          <h2 class="heading">Spring Cushion Collection 2019</h2>
          <a href="#" class="underline_btn">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="home_seciton_2">
  <div class="container">
    <h2 class="small_heading">I'M A CUSHION DESIGNER</h2>
    <p class="bold_para">
      Based in San Francisco, California I design trendy and fashion Cushions,
      since I have memory I always had a tendency to design and illustration
    </p>
    <a href="" class="btn_curly_border">Learn more</a>

    <div class="home_sec_2_flex">
      <div class="home_sec_2_flex_col">
        <div class="home_sec_2_flex_col_img">
          <img
            src="https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd892e61cab6c8d61313a06_1.png"
            alt=""
          />
        </div>
        <div class="home_sec_2_flex_content">
          <h2 class="small_heading">About me</h2>
          <p>Learn more</p>
        </div>
      </div>
      <div class="home_sec_2_flex_col">
        <div class="home_sec_2_flex_col_img">
          <img
            src="https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd892e61cab6c8d61313a06_1.png"
            alt=""
          />
        </div>
        <div class="home_sec_2_flex_content">
          <h2 class="small_heading">About me</h2>
          <p>Learn more</p>
        </div>
      </div>
      <div class="home_sec_2_flex_col">
        <div class="home_sec_2_flex_col_img">
          <img
            src="https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd892e61cab6c8d61313a06_1.png"
            alt=""
          />
        </div>
        <div class="home_sec_2_flex_content">
          <h2 class="small_heading">About me</h2>
          <p>Learn more</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="home_section_3">
  <div class="container">
    <div class="home_Sec_3_flex">
      <div class="home_Sec_3_col_1">
        <p class="boldpara">About me</p>
        <h2 class="heading">I'm a trendy Cushion Designer</h2>
        <div>
          <a href="" class="underline_btn">Learn more</a>
        </div>
      </div>
      <div class="home-sec-3-backimg"></div>
    </div>
  </div>
</section>
<section class="home_section_4">
  <div class="container">
    <div class="home_section_4_grid">
      <div class="home_section_4_grid_col">
        <p class="boldpara">Bignnings</p>
        <p class="para">
          Credibly innovate granular internal or organic sources whereas high
          standards in web-readiness. Energistically scale future-proof core
          competencies vis-a-vis impactful experiences.
        </p>
        <p class="para">
          Dramatically synthesize integrated schemas. with optimal networks.
        </p>
      </div>
      <div>
        <img
          src="{% static 'images/5bd8dbafef82dc4bd8245d41_nathan-fertig-249917-unsplash-p-1080.jpeg' %}"
          alt="Example Image"
        />
      </div>
    </div>
    <div class="home_section_4_grid">
      <div>
        <img
          src="{% static 'images/5bd8dbafef82dc4bd8245d41_nathan-fertig-249917-unsplash-p-1080.jpeg' %}"
          alt="Example Image"
        />
      </div>
      <div class="home_section_4_grid_col">
        <p class="boldpara">Bignnings</p>
        <p class="para">
          Credibly innovate granular internal or organic sources whereas high
          standards in web-readiness. Energistically scale future-proof core
          competencies vis-a-vis impactful experiences.
        </p>
        <p class="para">
          Dramatically synthesize integrated schemas. with optimal networks.
        </p>
      </div>
    </div>
    <div class="home_section_4_grid">
      <div class="home_section_4_grid_col">
        <p class="boldpara">Bignnings</p>
        <p class="para">
          Credibly innovate granular internal or organic sources whereas high
          standards in web-readiness. Energistically scale future-proof core
          competencies vis-a-vis impactful experiences.
        </p>
        <p class="para">
          Dramatically synthesize integrated schemas. with optimal networks.
        </p>
      </div>
      <div>
        <img
          src="{% static 'images/5bd8dbafef82dc4bd8245d41_nathan-fertig-249917-unsplash-p-1080.jpeg' %}"
          alt="Example Image"
        />
      </div>
    </div>
  </div>
</section>
<section class="section_5_home">
  <div class="container">
    <div class="products_grid_home">
      <div class="products_grid_home_col">
        <div class="products_grid_home_col_img">
          <img
            src="{% static 'images/5bd9fee8179853822e2c85c0_p-1 19.48.27.jpg' %}"
            alt="Example Image"
          />
        </div>
        <h1 class="small_heading">Plated Cusion</h1>
        <p class="product_price_home">$ 19.99 USD</p>
      </div>
      <div class="products_grid_home_col">
        <div class="products_grid_home_col_img">
          <img
            src="{% static 'images/5bd9fee8179853822e2c85c0_p-1 19.48.27.jpg' %}"
            alt="Example Image"
          />
        </div>
        <h1 class="small_heading">Plated Cusion</h1>
        <p class="product_price_home">$ 19.99 USD</p>
      </div>
      <div class="products_grid_home_col">
        <div class="products_grid_home_col_img">
          <img
            src="{% static 'images/5bd9fee8179853822e2c85c0_p-1 19.48.27.jpg' %}"
            alt="Example Image"
          />
        </div>
        <h1 class="small_heading">Plated Cusion</h1>
        <p class="product_price_home">$ 19.99 USD</p>
      </div>
    </div>
  </div>
</section>
<section class="section_6_home">
  <div class="container">
    <div class="section_6_home_grid">
      <div class="section_6_home_grid_col">
        <div>
          <h1 class="bold_para">Email</h1>
          <p class="bold_sm_para">support@website.com</p>
        </div>
        <div>
          <h1 class="bold_para">Email</h1>
          <p class="bold_sm_para">800-123-456</p>
        </div>
        <div>
          <h1 class="bold_para">ADDRESS</h1>
          <p class="bold_sm_para">
            23 Evergreen Street, San Francisco, California USA
          </p>
        </div>
      </div>
      <div>
        <div>
          <h1 class="bold_para">Address</h1>
          <p class="bold_sm_para">
            Drop us your message and I'll get back to you as soon as possible.
          </p>
          <form class="contact_form">
            <div class="name_inputs">
              <input type="text" placeholder="Firstname" />
              <input type="text" placeholder="Lastname" />
            </div>
            <input type="email" placeholder="Email" />
            <textarea
              placeholder="your message"
              name=""
              id=""
              cols="10"
              rows="3"
            ></textarea>
            <div>
              <a class="underline_btn" type="submit">Let's talk</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-7-about">
  <div class="container">
    <h2 class="heading">What Makes Blingz Accessories Special?</h2>
    <div class="main-div-jewelery-section">
      <div class="delivery-col flex-wrap">
        <i class="fa-solid delivery_img fa-truck-fast"></i>
        <h2 class="small_heading">Worldwide Delivery</h2>
        <p class="para">
          Enjoy the convenience of worldwide delivery, bringing our exceptional
          products directly to your doorstep with speed and reliability.
        </p>
      </div>
      <div class="support-col flex-wrap">
        <i class="fa-solid delivery_img fa-comments"></i>
        <h2 class="small_heading">Fast Support</h2>
        <p class="para">
          We're here to help you quickly! Contact us easily through email,
          phone, our online form, or find our shop for assistance. or find our
          shop for assistance.
        </p>
      </div>
      <div class="protection-col flex-wrap">
        <i class="fa-solid delivery_img fa-hands-holding-circle"></i>
        <h2 class="small_heading">Buyer Protection</h2>
        <p class="para">
          Our comprehensive buyer protection ensures that your purchase is
          safeguarded, providing peace of mind and assurance throughout your
          shopping experience.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- *****************************************  -->
<!-- cart section  -->
<!-- ***************************************** -->
<section id="wrapper" class="cart_section hidden">
  <div class="cart_main">
    <div class="cart_heading">
      <div class="small_heading">Your Cart</div>
      <div class="close_cart_btn">X</div>
    </div>
    <div class="cart_grid">
      <div class="cart_grid_flex">
        <div class="cart_sec_content">
          <img
            src="{% static 'images/productcart.jpg' %}"
            alt="Example Image"
          />
          <div>
            <div class="small_heading">Silver Cushion</div>
            <p class="cart_item_price">$19.99 USD</p>
            <div class="remove_cart_item_btn remove_btn">Remove</div>
          </div>
        </div>
        <input class="quantity_input" type="number" min="1" max="10" />
      </div>
      <div class="cart_grid_flex">
        <div class="cart_sec_content">
          <img
            src="{% static 'images/productcart.jpg' %}"
            alt="Example Image"
          />
          <div>
            <div class="small_heading">Silver Cushion</div>
            <p class="cart_item_price">$19.99 USD</p>
            <div class="remove_cart_item_btn remove_btn">Remove</div>
          </div>
        </div>
        <input class="quantity_input" type="number" min="1" max="10" />
      </div>
      <div class="cart_grid_flex">
        <div class="cart_sec_content">
          <img
            src="{% static 'images/productcart.jpg' %}"
            alt="Example Image"
          />
          <div>
            <div class="small_heading">Silver Cushion</div>
            <p class="cart_item_price">$19.99 USD</p>
            <div class="remove_cart_item_btn remove_btn">Remove</div>
          </div>
        </div>
        <input class="quantity_input" type="number" min="1" max="10" />
      </div>

      <div class="cart_grid_flex">
        <div class="cart_sec_content">
          <img
            src="{% static 'images/productcart.jpg' %}"
            alt="Example Image"
          />
          <div>
            <div class="small_heading">Silver Cushion</div>
            <p class="cart_item_price">$19.99 USD</p>
            <div class="remove_cart_item_btn remove_btn">Remove</div>
          </div>
        </div>
        <input class="quantity_input" type="number" min="1" max="10" />
      </div>
      <div class="cart_grid_flex">
        <div class="cart_sec_content">
          <img
            src="{% static 'images/productcart.jpg' %}"
            alt="Example Image"
          />
          <div>
            <div class="small_heading">Silver Cushion</div>
            <p class="cart_item_price">$19.99 USD</p>
            <div class="remove_cart_item_btn remove_btn">Remove</div>
          </div>
        </div>
        <input class="quantity_input" type="number" min="1" max="10" />
      </div>
      <div class="cart_grid_flex">
        <div class="cart_sec_content">
          <img
            src="{% static 'images/productcart.jpg' %}"
            alt="Example Image"
          />
          <div>
            <div class="small_heading">Silver Cushion</div>
            <p class="cart_item_price">$19.99 USD</p>
            <div class="remove_cart_item_btn remove_btn">Remove</div>
          </div>
        </div>
        <input class="quantity_input" type="number" min="1" max="10" />
      </div>
    </div>
    <div class="cart_sec_total">
      <div class="small_heading">Subtotal</div>
      <p class="total_price">$139.93 USD</p>
    </div>
    <a class="checkout_btn" href="">Continue to checkout</a>
  </div>
</section>

{% endblock %}
