{% extends "base.html" %} {% load static%} {% block content%}
{% comment %} hero section  {% endcomment %}
<section class="home_section_1">
  <div class="container">
    <div class="home_sec_1_flex">
      <div class="home_sec_1_flex_col1">
        <img
          src="{% static 'images/cta-image.webp' %}"
          alt="hero section"
        />
      </div>
      <div class="home_sec_1_flex_col2_main">
        <div class="home_sec_1_flex_col2 ">
          <p>New</p>
          <h2 class="heading">Spring Collection 2024</h2>
          <a href="{% url 'products' %}" class="underline_btn">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% comment %} about section  {% endcomment %}
<section class="home_section_2" id="homesection2">
  <div class="container">
    <h2 class="small_heading text-start">Learn More About Cushion Haven!</h2>
    <div class="home_sec_2_flex">
      <div class="home_sec_2_flex_col">
        <div class="home_sec_2_flex_col_img">
          <img
            src="{% static 'images/about-designer1.webp' %}"
            alt="about the designer"
          />
        </div>
        <div class="home_sec_2_flex_content">
          <h2 class="small_heading">About me</h2>
          <p><a href="#home_section3" class="underline_btn">Learn more</a></p>
        </div>
      </div>
      <div class="home_sec_2_flex_col">
        <div class="home_sec_2_flex_col_img">
          <img
            src="{% static 'images/about-products.webp' %}"
            alt="about collection"
          />
        </div>
        <div class="home_sec_2_flex_content">
          <h2 class="small_heading">About collection</h2>
          <p><a href="#home_section4" class="underline_btn">Learn more</a></p>
        </div>
      </div>
      <div class="home_sec_2_flex_col">
        <div class="home_sec_2_flex_col_img">
          <img
            src="{% static 'images/about-products2.webp' %}"
            alt="about product's categories"
          />
        </div>
        <div class="home_sec_2_flex_content">
          <h2 class="small_heading">About products</h2>
          <p><a href="#home_section5" class="underline_btn">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} a section about the designer  {% endcomment %}
<section id="home_section3" class="home_section_3">
  <div class="container">
    <div class="home_Sec_3_flex">
      <div class="home_Sec_3_col_1">
        <p class="boldpara">About me</p>
        <h2 class="heading">I'm a trendy Cushion Designer</h2>
        <p class="bold_para home_Sec_3_bold_para">
          I'm a designer specializing in cushions, pillows, and blankets, based in London.
          My collection features luxurious fabrics, intricate designs, and vibrant colors,
          creating pieces that elevate home decor with elegance and comfort.
        </p>
   
      </div>
      <div class="home-sec-3-backimg"></div>
    </div>
  </div>
</section>

{% comment %} a section about the products {% endcomment %}
<section id="home_section4" class="home_section_4">
  <div class="container">
    <div class="home_section_4_grid">
      <div class="home_section_4_grid_col">
        <p class="boldpara">Opulent!</p>
        <p class="para">
          Crafted from sumptuous velvet, soft knits, and high-quality fabrics, our collection offers cushions, pillows, and blankets that exude luxury and comfort.
        </p>
        <p class="para">
          Each piece is meticulously designed to provide a lavish touch to any living space, elevating the ambiance with its rich textures and opulent materials.
        </p>
      </div>
      <div>
        <img
          src="{% static 'images/1.webp' %}"
          alt="an image of sofa with cushions 1"
        />
      </div>
    </div>
    <div class="home_section_4_grid">
      <div>
        <img
          src="{% static 'images/2.webp' %}"
          alt="an image of sofa with cushions 2"
        />
      </div>
      <div class="home_section_4_grid_col">
        <p class="boldpara">Chic!</p>
        <p class="para">
          Versatile in their styling options, our cushions, pillows, and blankets can be layered together for added texture and warmth on sofas, beds, or accent chairs, effortlessly enhancing any living space with sophistication and coziness.
        </p>
        <p class="para">
          Whether draped over a couch for an inviting look or arranged neatly on a bed for a polished finish, our collection allows you to create stylish and inviting interiors with ease.
        </p>
      </div>
    </div>
    <div class="home_section_4_grid">
      <div class="home_section_4_grid_col">
        <p class="boldpara">Adaptable!</p>
        <p class="para">
          With a palette of rich jewel tones, calming neutrals, and playful patterns, our pieces are designed to complement a variety of interior styles, from modern chic to bohemian charm.
        </p>
        <p class="para">
          Whether used as standalone statement pieces or mixed and matched for a layered look, our cushions, pillows, and blankets effortlessly adapt to any decor scheme, adding depth and personality to every room.
        </p>
      </div>
      <div>
        <img
          src="{% static 'images/3.webp' %}"
          alt="an image of sofa with cushions 3"
        />
      </div>
    </div>
  </div>
</section>

{% comment %} category section for cushions blankets and pillows  {% endcomment %}
<section id="home_section5" class="section_5_home container">
    <p class="section_5_heading small_heading text-start">Shop by Category!</p>
    <div class="products_grid_home">
      <div class="products_grid_home_col">
        <div class="products_grid_home_col_img">
          <a href="{% url 'products' %}?category=cushion">   <img
            src="{% static 'images/cushions.webp' %}"
            alt="an image of cushions"
          /></a>
        </div>
        <h1 class="small_heading"> <a  href="{% url 'products' %}?category=cushion">CUSHIONS</a></h1>
      </div>
      <div class="products_grid_home_col">
        <div class="products_grid_home_col_img">
          <div class="products_grid_home_col_img">
            <a href="{% url 'products' %}?category=blanket">   <img
              src="{% static 'images/blankets.webp' %}"
              alt="an image of blankets"
            /></a>
         
          </div>
         
          <h1 class="small_heading"> <a  href="{% url 'products' %}?category=blanket">BLANKETS</a></h1>
      </div>
    </div>
      <div class="products_grid_home_col">
        <div class="products_grid_home_col_img">
          <a href="{% url 'products' %}?category=pillow">   <img
            src="{% static 'images/pillows.webp' %}"
            alt="an image of pillows"
          /></a>
       
        </div>
       
        <h1 class="small_heading"> <a href="{% url 'products' %}?category=pillow">PILLOWS</a></h1>
      </div>
  </div>
</section>

{% comment %} a section about contact details and form  {% endcomment %}
<section class="section_6_home" id="homesection6">
  <div class="container">
    <div class="section_6_home_grid">
      <div class="section_6_home_grid_col">
        <div>
          <h1 class="bold_para">Email</h1>
          <p class="bold_sm_para">support@website.com</p>
        </div>
        <div>
          <h1 class="bold_para">Phone</h1>
          <p class="bold_sm_para">07123456780</p>
        </div>
        <div>
          <h1 class="bold_para">ADDRESS</h1>
          <p class="bold_sm_para">
            98 Ploughley Road, <br/>
            London, <br/> NW9 001
          </p>
        </div>
      </div>
      <div>
        <div>
          <p class="fs-3 text-white bg-secondary p-3 mb-3  hidden popupcontact">Your message has been sent.😊 </p>
          <h2 class="bold_para">Contact Us</h2>
          <p class="bold_sm_para">
            Drop us your message and I'll get back to you as soon as possible.
          </p>
          {% comment %} form for submitting the message {% endcomment %}
          <form class="contact_form">
            <div class="name_inputs">
              <input id="fullname" type="text" placeholder="Firstname" />
              <input type="text" placeholder="Lastname" />
            </div>
            <input id="email_id" type="email" placeholder="Email" />
            <textarea id="message"
              placeholder="your message"
              cols="10"
              rows="3"
            ></textarea>
            <div>
              <button class="underline_btn contact_submit"  type="submit">Let's talk</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} customer service of cushionhaven website  {% endcomment %}
<section class="section section-7-about">
  <div class="container">
    <h2 class="heading">What Makes Cushion Haven Special?</h2>
    <div class="main-div-jewelery-section">
      <div class="delivery-col flex-wrap">
        <i class="fa-solid delivery_img fa-truck-fast"></i>
        <h2 class="small_heading">Worldwide Delivery</h2>
        <p class="para">
          Enjoy the convenience of worldwide delivery, bringing our exceptional
          products directly to your doorstep with speed and reliability.
        </p>
      </div>
      <div class="support-col flex-wrap">
        <i class="fa-solid delivery_img fa-comments"></i>
        <h2 class="small_heading">Fast Support</h2>
        <p class="para">
          We're here to help you quickly! Contact us easily through email,
          phone, our online form, or find our shop for assistance. or find our
          shop for assistance.
        </p>
      </div>
      <div class="protection-col flex-wrap">
        <i class="fa-solid delivery_img fa-hands-holding-circle"></i>
        <h2 class="small_heading">Buyer Protection</h2>
        <p class="para">
          Our comprehensive buyer protection ensures that your purchase is
          safeguarded, providing peace of mind and assurance throughout your
          shopping experience.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}