{% extends "base.html" %} {% load static%} {% block content%}
<section class="home_section_1">
  <div class="container">
    <div class="home_sec_1_flex">
      <div class="home_sec_1_flex_col1">
        <img
          src="{% static 'images/5bd90a8aef82dc5918248baa_cushion.jpg' %}"
          alt="Example Image"
        />
      </div>
      <div class="home_sec_1_flex_col2_main">
        <div class="home_sec_1_flex_col2">
          <p>New</p>
          <h2 class="heading">Spring Cushion Collection 2019</h2>
          <a href="#" class="underline_btn">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="home_seciton_2">
  <div class="container">
    <h2 class="small_heading">I'M A CUSHION DESIGNER</h2>
    <p class="bold_para">
      Based in San Francisco, California I design trendy and fashion Cushions,
      since I have memory I always had a tendency to design and illustration
    </p>

    <div class="home_sec_2_flex">
      <div class="home_sec_2_flex_col">
        <div class="home_sec_2_flex_col_img">
          <img
            src="https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd892e61cab6c8d61313a06_1.png"
            alt=""
          />
        </div>
        <div class="home_sec_2_flex_content">
          <h2 class="small_heading">About me</h2>
          <p>Learn more</p>
        </div>
      </div>
      <div class="home_sec_2_flex_col">
        <div class="home_sec_2_flex_col_img">
          <img
            src="https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd892e61cab6c8d61313a06_1.png"
            alt=""
          />
        </div>
        <div class="home_sec_2_flex_content">
          <h2 class="small_heading">About me</h2>
          <p>Learn more</p>
        </div>
      </div>
      <div class="home_sec_2_flex_col">
        <div class="home_sec_2_flex_col_img">
          <img
            src="https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd892e61cab6c8d61313a06_1.png"
            alt=""
          />
        </div>
        <div class="home_sec_2_flex_content">
          <h2 class="small_heading">About me</h2>
          <p>Learn more</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="home_section_3">
  <div class="container">
    <div class="home_Sec_3_flex">
      <div class="home_Sec_3_col_1">
        <p class="boldpara">About me</p>
        <h2 class="heading">I'm a trendy Cushion Designer</h2>
        <div>
          <a href="" class="underline_btn">Learn more</a>
        </div>
      </div>
      <div class="home-sec-3-backimg"></div>
    </div>
  </div>
</section>
<section class="home_section_4">
  <div class="container">
    <div class="home_section_4_grid">
      <div class="home_section_4_grid_col">
        <p class="boldpara">Bignnings</p>
        <p class="para">
          Credibly innovate granular internal or organic sources whereas high
          standards in web-readiness. Energistically scale future-proof core
          competencies vis-a-vis impactful experiences.
        </p>
        <p class="para">
          Dramatically synthesize integrated schemas. with optimal networks.
        </p>
      </div>
      <div>
        <img
          src="{% static 'images/5bd8dbafef82dc4bd8245d41_nathan-fertig-249917-unsplash-p-1080.jpeg' %}"
          alt="Example Image"
        />
      </div>
    </div>
    <div class="home_section_4_grid">
      <div>
        <img
          src="{% static 'images/5bd8dbafef82dc4bd8245d41_nathan-fertig-249917-unsplash-p-1080.jpeg' %}"
          alt="Example Image"
        />
      </div>
      <div class="home_section_4_grid_col">
        <p class="boldpara">Bignnings</p>
        <p class="para">
          Credibly innovate granular internal or organic sources whereas high
          standards in web-readiness. Energistically scale future-proof core
          competencies vis-a-vis impactful experiences.
        </p>
        <p class="para">
          Dramatically synthesize integrated schemas. with optimal networks.
        </p>
      </div>
    </div>
    <div class="home_section_4_grid">
      <div class="home_section_4_grid_col">
        <p class="boldpara">Bignnings</p>
        <p class="para">
          Credibly innovate granular internal or organic sources whereas high
          standards in web-readiness. Energistically scale future-proof core
          competencies vis-a-vis impactful experiences.
        </p>
        <p class="para">
          Dramatically synthesize integrated schemas. with optimal networks.
        </p>
      </div>
      <div>
        <img
          src="{% static 'images/5bd8dbafef82dc4bd8245d41_nathan-fertig-249917-unsplash-p-1080.jpeg' %}"
          alt="Example Image"
        />
      </div>
    </div>
  </div>
</section>

{% endblock %}
