{% extends "base.html" %} 
{% load static %}
{% load bag_tools %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr />
                <h2 class="logo-font mb-4">Checkout</h2>
                <hr />
            </div>
        </div>

        <div class="row gx-lg-5">
            <div class="col-12 col-lg-6 order-lg-last mb-5">
                <p class="text-muted fs-4">Order Summary ({{ product_count }})</p>
                <div class="row">
                    <div class="col text-start offset-2">
                        <p class="mb-1 mt-0 small text-muted fw-bold fs-3">Item</p>
                    </div>
                    <div class="col text-right">
                        <p class="mb-1 mt-0 small fs-3 text-muted">Subtotal</p>
                    </div>
                </div>

                {% comment %} detail of products for ordering  {% endcomment %}
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-3 mb-1">
                            <a href="{% url 'product_detail' item.product.id %}">
                                <img
                                    class="img-fluid rounded p-5 p-md-1"
                                    src="{{item.product.img.url}}"
                                    area-label="product image"
                                />
                            </a>
                        </div>
                        <div class="col-7">
                            <p class="my-0"><strong class="fs-4 fw-normal">{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted fs-4">Qty: {{ item.quantity }}</p>
                        </div>
                        <div class="col-2 text-right">
                            <p class="my-0 small  fs-3 text-muted">
                                ${{ item.product.price | calc_subtotal:item.quantity }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <hr class="my-0" />
                <div class="row text-black text-right">
                    <div class="col-7 offset-2">
                        <p class="my-0 fs-3">Order Total:</p>
                        <p class="my-0 fs-3">Delivery:</p>
                        <p class="my-0 fs-3">Grand Total:</p>
                    </div>

                    {% comment %} total for the order  {% endcomment %}
                    <div class="col-3">
                        <p class="my-0 fs-3">${{ total | floatformat:2 }}</p>
                        <p class="my-0 fs-3">${{ delivery | floatformat:2 }}</p>
                        <p class="my-0 fs-3">
                            <strong>${{ grand_total | floatformat:2 }}</strong>
                        </p>
                    </div>
                </div>
                <fieldset class="rounded px-3 mb-5">
                    {{ order }}

                    {% comment %} The address model which user can save their addressess  {% endcomment %}
                    <div class="addressbook bg-light p-5">
                        {% if address_info.user_address %}
                            <h1 class="fs-2 my-3">Address book</h1>
                            <div class="row gy-4">
                                {% for address in address_info.user_address %}
                                    <div class="col-12 bg-white p-4" id="address_{{ address.id }}">
                                        <div>
                                            <p class="fs-4">{{ address }}</p>
                                            {% if address.street_address2 %}
                                                <p class="fs-4">{{ address.street_address2 }}</p>
                                            {% endif %}
                                            <p class="fs-4">{{ address.postcode }}</p>
                                            <p class="fs-4">{{ address.town_or_city }}</p>
                                            <p class="fs-4">{{ address.county }}</p>  
                                            <p class="fs-4">{{ address.country }}</p>

                                             {% comment %} edit and delete button for the address  {% endcomment %}
                                            <a href="{% url 'edit_address' address.id %}" class="btn bg-white text-info fs-4">Edit</a>
                                            <a href="{% url 'delete_address' address.id %}" onclick="return confirm('Are you sure you want to delete this address?');" class="btn btn-danger">Delete</a>
                                           
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% comment %} shows when there is no address saved {% endcomment %}
                            <p class="fs-5 fw-bold">Your address book is empty</p>
                        {% endif %}
                    </div>
                </fieldset>
            </div>

            <div class="col-12 col-lg-6">
                <p class="text-muted fs-4">
                    Please fill out the form below to complete your order
                </p>

                {% comment %} The form where user put information for ordering the product  {% endcomment %}
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto fs-3 fw-bold">
                            Details
                        </legend>

                        {{ order_form.full_name|as_crispy_field }}
                        {{ order_form.email|as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fs-3 fw-bold fieldset-label small text-black px-2 w-auto">
                            Delivery
                        </legend>

                        {% comment %} personal information of the user  {% endcomment %}
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        <div class="form-check form-check-inline float-right mr-0">
                            {% if user.is_authenticated %}
                                <label class="form-check-label fs-3" for="id-save-info">
                                    Save this delivery information to my profile
                                </label>
                                <input
                                    class="form-check-input ml-2 mr-0 fs-3"
                                    type="checkbox"
                                    id="id-save-info"
                                    name="save-info"
                                    checked
                                />
                            {% else %}
                                <label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a>
                                    or
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to
                                    save this information
                                </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black fs-3 px-2 w-auto">
                            Payment
                        </legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>

                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <div class="submit-button text-right mt-5 mb-2">
                        <a
                            href="{% url 'view_bag' %}"
                            class="btn btn-outline-black rounded-0 fs-3"
                        >
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Bag</span>
                        </a>
                        <button id="submit-button" class="btn btn-black mx-2 fs-3 rounded-0">
                            <span class="font-weight-bold">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        <p class="small fs-4 text-danger my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            Your card will be charged
                            <strong>${{ grand_total|floatformat:2 }}</strong>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        {% comment %} for loading payment animation  {% endcomment %}
        {% csrf_token %}
        <div id="loading-overlay">
            <h1 class="text-light logo-font loading-spinner">
                <span class="icon">
                    <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                </span>
            </h1>
        </div>
    </div>
{% endblock %}
