<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Delete Address</title>
    <style>
      body{
        text-align: center;
        font-size: 18px;
        margin-top: 100px;
        height: 100vh;
      }
      button{
        padding: 5px;
        font-size: 18px;
        border: none;
        padding: 10px;
        cursor: pointer;
        transition: 0.5s;
        background-color: white;
        color: black;
        border: 1px solid black;
      }
      button:hover{
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <h2>Delete Address</h2>
    <p>Are you sure you want to delete the following address?</p>
    <p>{{ address.country }}</p>
    <form action="{% url 'delete_address' address.id %}" method="post">
      {% csrf_token %}
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
