{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="logo-font mb-4">Edit Address</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form method="post">
        {% comment %} button for editing the address of a user in checkout page   {% endcomment %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}