/* Add your CSS styles here */
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

nav {
  display: flex;
  padding: 20px 0px;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

html {
  font-size: 10px;
}
a {
  display: inline-block;
  text-decoration: none;
}
span {
  display: inline-block;
}
.nav_links {
  display: flex;
  align-items: center;
}
.nav_links a {
  padding: 0 20px;
  font-size: 24px;
  font-family: "Cormorant Garamond", serif;
  color: purple;
  font-weight: 400;
}
.navlogo a {
  text-decoration: underline;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  color: purple;
}
.cart_btn {
  color: purple;
  font-size: 20px;
  position: relative;

  cursor: pointer;
}
.cart_btn i {
  cursor: pointer;
}
.cart_btn span {
  background-color: purple;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  padding-top: 2px;
  font-size: 13px;
  position: absolute;
  top: -10px;
}
.login_btn i {
  color: purple;
  font-size: 28px;
  margin-left: 30px;
}
.menu_btn i {
  display: none;
  color: purple;
  font-size: 28px;
  margin-left: 30px;
  cursor: pointer;
  position: relative;
}

/* ********************************** */
/* footer  */
/* *********************************** */
footer {
  background-color: rgb(201, 173, 198);
  padding: 50px 0px;
}
.footer_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.footer_links a {
  padding: 0px 20px;
  color: white;
  font-size: 21px;
  font-weight: 600;
  font-family: "Cormorant Garamond", serif;
}
.footer_socil_links a {
  background-color: rgb(201, 137, 195);
  border-radius: 50%;
  display: inline-block;
  padding: 15px;
  margin: 0 10px;
  color: white;
  transition: 0.5s;
}
.footer_socil_links a:hover {
  background-color: rgba(53, 48, 53, 0.71);
}
.footer_socil_links a i {
  font-size: 20px;
}

.heading {
  color: white;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  color: whtie;
  line-height: 1.3;
  margin-bottom: 40px;
}
.small_heading {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #b99bb6;
  font-family: Roboto, sans-serif;
}
.underline_btn {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
.boldpara {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.para {
  font-size: 24px;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  color: #5f4d5d;
  margin-bottom: 40px;
}


.navbar_Search {
  max-width: 250px;
  padding: 10px;
  outline: none;
  border: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  background-color: #c9afc6;
  color: white;
  border-radius: 10px;
}
.navbar_Search::placeholder {
  color: white;
}
.search_btn_navbar {
  background-color: black;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 100%;
}
.search_icon {
  color: white;
}


