/* Add your CSS styles here */
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

nav {
  display: flex;
  padding: 20px 0px;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}


html {
  font-size: 10px;
}

a {
  display: inline-block;
  text-decoration: none;
}
span {
  display: inline-block;
}
.form-label{
  font-size: 16px !important;
}
#id_default_country{
  font-size: 16px;
}
#id_category{
  font-size: 16px !important;
}
.nav_links {
  display: flex;
  align-items: center;
}
.checkboxinput{
  font-size: 16px !important;
}
.nav_links a,
.prodcuts_hover {
  padding: 0 20px;
  font-size: 24px;
  font-family: "Cormorant Garamond", serif;
  color: purple;
  font-weight: 400;
  display: inline-block;
}
.form-text {
font-size: 16px !important;
}
.navlogo a {
  font-size: 30px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #016274;
}
.cart_btn {
  color: purple;

  position: relative;
  cursor: pointer;
}
.cart_btn i {
  cursor: pointer;
}
.cart_btn span {
  color: purple;
  font-weight: 900;

  height: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  padding-top: 2px;
  font-size: 13px;
  position: absolute;
  bottom: -18px;
  left: 10px;
}
.login_btn i {
  color: #016274;
  font-size: 28px;
  margin-left: 30px;
}
.menu_btn i {
  display: none;
  color: purple;
  font-size: 28px;
  margin-left: 30px;
  cursor: pointer;
  position: relative;
}
.flex-wrap img {
  max-width: 100px;
}
.navbar_Search {
  z-index: 5;
  max-width: 250px;
  padding: 10px;
  outline: none;
  border: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  background-color: #7f557a;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.381);
  color: white;
  border-radius: 10px;
}
.sm_search_btn {
  position: absolute;
  max-width: 250px;
  padding: 10px 15px;
  outline: none;
  border: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  background-color: #7f557a;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.381);
  color: white;
  border-radius: 10px;
}
.navbar_Search::placeholder {
  color: rgb(255, 255, 255) !important;
  font-weight: 700;
}
.search_btn_navbar {
  background-color: #800080;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: none;
  height: 100%;
}
.search_btn_navbar i {
  font-size: 17px;
}
.search_icon {
  color: white;
}


/* ********************************** */
/* footer  */
/* *********************************** */
footer {
  background-color: rgb(122 69 116);
  padding: 50px 0px;
}
.footer_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.footer_links a {
  padding: 0px 20px;
  color: white;
  font-size: 21px;
  font-weight: 600;
  font-family: "Cormorant Garamond", serif;
}
.footer_socil_links a {
  background-color: rgb(83, 46, 80);
  border-radius: 50%;
  display: inline-block;
  padding: 15px;
  margin: 0 10px;
  color: white;
  transition: 0.5s;
}
.footer_socil_links a:hover {
  background-color: rgba(53, 48, 53, 0.71);
}
.footer_socil_links a i {
  font-size: 20px;
}

.heading {
  color: white;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.3;
  margin-bottom: 40px;
}
.small_heading {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 30px;
  color: rgb(83, 46, 80);
  font-family: Roboto, sans-serif;
}
.underline_btn {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
.underline_btn:hover {
  color: #800080;
  border-bottom: 1px solid #800080;
}
.boldpara {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.para {
  font-size: 24px;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  color: rgb(83, 46, 80);
  margin-bottom: 40px;
}
/* section 7  */
.section-7-about {
  padding: 100px 0px;
  background-color: white;
}
.main-div-jewelery-section {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.section-7-about .small_heading {
  font-size: 18px;
  color: #9a6a94;
  margin: 20px 0px;
}
.section-7-about .heading {
  text-align: center;
  color: rgb(83, 46, 80);
  font-size: 3rem;
}
.section-7-about .para {
  font-size: 18px;
}
.delivery_img {
  color: rgb(201, 137, 195);
  font-size: 5rem;
}
.flex-wrap {
  text-align: center;
  flex: 1 0 200px;
}

.prodcuts_hover {
  cursor: pointer;
  position: relative;
}
.products_dropdown {
  position: absolute;
  background-color: white;
  list-style-type: none;
  padding: 18px 0px;
  display: none;
  cursor: pointer;
  z-index: 1;
  text-transform: capitalize;
}

.products_dropdown a {
  padding: 5px 30px;
  text-align: center;
  width: 100%;
}

.prodcuts_hover:hover .products_dropdown {
  display: block !important;
}
.products_dropdown_sorting {
  position: absolute;
  left: 120px;
  background-color: white;
  list-style-type: none;
  display: none;
}

.prducts_ratings {
  /* padding-top: 20px; */
  text-align: center;
}
.products_right_arrow {
  font-size: 14px;
  opacity: 0;
  position: absolute;
}
.prducts_ratings:hover .products_dropdown_sorting {
  display: inline-block !important;
  opacity: 1 !important;
}
.show_right_arrow {
  opacity: 1;
}
