
/* Section 1 */

.home_section_1 {
  background-color: rgb(206, 179, 203);
  padding: 50px 0px;
}
.home_sec_1_flex {
  position: relative;
  display: flex;
}
.home_sec_1_flex_col1 img {
  background-image: url("{% static 'images/5bd90a8aef82dc5918248baa_cushion.jpg' %}");
  background-size: cover;
  background-position: center;
  width: 100%;
  position: -65px;
  background-position: center;
  background-repeat: no-repeat;
}
.home_sec_1_flex_col2_main {
  width: 10%;
}
.home_sec_1_flex_col2 {
  background-color: rgb(156, 105, 152);
  position: relative;
  left: -250px;
  top: 20%;
  width: 400px;
  padding: 50px;
}
.home_sec_1_flex_col2 p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* section 2  */

.home_seciton_2 {
  padding: 50px 0px;
  text-align: center;
}
.bold_para {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  color: #5f4d5d;
}
.home_sec_2_flex {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.home_sec_2_flex_col {
  flex: 1 0 200px;
}
.home_sec_2_flex_col_img {
  overflow: hidden;
}
.home_sec_2_flex_col:hover img {
  transform: scale(1.3);
}
.home_sec_2_flex_col img {
  width: 100%;
  transition: 0.5s;
}
.home_sec_2_flex_content {
  text-align: left;
  padding: 30px 20px;
  background-color: rgb(206, 179, 203);
}
.home_sec_2_flex_content h2 {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: white;
}
.home_sec_2_flex_content p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 19px;
  color: white;
}

/* section 3  */

.home_section_3 {
  background-color: #c9afc6;
  padding: 50px 0;
}
.home_section_3 .container {
  max-width: 900px;
}

.home-sec-3-backimg {
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/about-designer1.png");
}
.home_Sec_3_flex {
  display: flex;
  align-items: center;
}
.home_Sec_3_col_1 .heading {
  font-family: "Cormorant Garamond", sans-serif;
}

.home_Sec_3_col_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(176, 142, 173);
  color: white;
  position: relative;
  z-index: 1;
  padding: 30px;
  margin-right: -100px;
  min-height: 400px;
}

/* section 4 */

.home_section_4 {
  padding: 50px 0px;
}
.home_section_4_grid_col {
  padding: 40px 0px;
}
.home_section_4_grid img {
  width: 100%;
  border: 20px solid #c9afc6;
  margin: 30px 0;
}
.home_section_4_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  border-bottom: 1px solid rgb(176, 142, 173);
}
.home_section_4_grid_col .boldpara {
  color: #c9afc6;
}

/* section 5 */

.section_5_home {
  padding: 50px 0px;
}

.container .section_5_heading {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #c9afc6;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.products_grid_home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  text-align: center;
}
.products_grid_home_col img {
  width: 100%;
  transition: 0.5s;
}
.products_grid_home_col:hover img {
  transform: scale(1.3);
}
.products_grid_home_col_img {
  overflow: hidden;
}
.products_grid_home_col .small_heading {
  margin: 20px 0 10px;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 24px;
}

/* section 6 */

.section_6_home {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #c9afc6;
}
.section_6_home .container {
  max-width: 1000px;
}
.section_6_home_grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  gap: 80px;
}
.section_6_home_grid_col {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.section_6_home_grid .bold_para {
  color: #016274;
  font-size: 14px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
}
.bold_sm_para {
  color: white;
  font-size: 23px;
  font-weight: 600;
  font-family: "Cormorant Garamond", sans-serif;
}
.contact_form {
  padding: 20px 0;
}
.contact_form input,
.contact_form textarea {
  width: 100%;
  border: 1px solid white;
  outline: none;
  color: white;
  background-color: transparent;
  padding: 20px 10px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}
.name_inputs {
  gap: 30px;
  display: flex;
  margin: 30px 0px;
}
.contact_form textarea {
  margin: 30px 0px;
}
.contact_form input::placeholder,
.contact_form textarea::placeholder {
  font-family: Roboto, sans-serif;
  color: white;
}
.contact_form .underline_btn {
  background-color: transparent;
  border: 1px solid white;
  padding: 20px;
}

/* ************************************ */
/* section cart  */
/* ************************************ */
#wrapper {
  background-color: rgba(0, 0, 0, 0.243);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}
.cart_main {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  max-width: 480px;
  padding: 30px;
}
.hidden {
  display: none;
}
.cart_heading {
  display: flex;

  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c9afc6;
}
.cart_heading .small_heading {
  margin: 0;
  font-size: 22px;
}
.close_cart_btn {
  color: black;
  font-size: 20px;
  cursor: pointer;
}
.cart_sec_content {
  display: flex;
  gap: 20px;
}
.cart_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.cart_grid_flex {
  display: flex;
  padding-top: 20px;
  gap: 20px;
  justify-content: space-between;
}
.cart_grid_flex p {
  margin: 10px 0;
}
.cart_grid_flex img {
  width: 80px;
}
.cart_grid_flex .small_heading {
  margin: 0;
  font-size: 20px;
  font-family: "Cormorant Garamond", sans-serif;
}
.cart_item_price {
  color: #b0b0b0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.remove_btn {
  color: #737373;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}
.quantity_input {
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.109);
  background-color: #d8d8d8;
}

.checkout_btn {
  width: 100%;
  background-color: #c9afc6;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  font-family: Roboto, sans-serif;
}
.cart_sec_total {
  border-top: 1px solid #5f4d5d;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.total_price {
  color: #b0b0b0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.cart_sec_total .small_heading {
  color: #c9afc6;
  margin: 0;
  font-weight: 100;
  font-size: 22px;
}
