/* *************************************meida**********************************************************  */
@media (max-width: 1100px) {
  .nav_links a,
  .prodcuts_hover {
    padding: 0 10px;
    font-size: 22px;
    font-family: "Cormorant Garamond", serif;
    color: purple;
    font-weight: 400;
  }
  .navbar_Search_show {
    position: absolute;
  }
  
  .navbar_Search {
    display: none;
  }
  .navbar_Search::placeholder {
    color: black;
  }
  .navbar_Search_show {
    display: block;
    position: absolute;
    top: 120px;
    left: 15%;
    background-color: white;
    color: black;
    width: 100%;
  }
  .sm_search_btn {
    display: none;
    position: absolute;
    top: 120px;
    left: 65%;
    max-width: 250px;
    padding: 10px 15px;
    outline: none;
    border: none;
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    background-color: #c9afc6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.381);
    color: white;
    border-radius: 10px;
  }
  .sm_search_btn_show {
    display: block;
  }
  .search_btn_navbar {
display: block;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 8px;
  }
  .footer_flex {
    justify-content: center;
  }
  .footer_socil_links a {
    margin: 10px;
  }
  .nav_links_main {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.432);
    backdrop-filter: blur(30px);
    left: -100%;
    top: 0;
    transition: 0.5s;
    z-index: 5;
    width: 100%;
  }

  .navlinks_show {
    left: 0;
  }
  .menu_btn i {
    display: block;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 7px;
  }
  .home_sec_1_flex {
    flex-direction: column;
  }
  .home_sec_1_flex_col1 img {
    background-image: url("{% static 'images/5bd90a8aef82dc5918248baa_cushion.jpg' %}");
    background-size: cover;
    background-position: center;
    width: 100%;
    position: -65px;

    background-position: center;
    background-repeat: no-repeat;
  }
  .home_sec_1_flex_col2_main {
    width: 100%;
  }
  .home_sec_1_flex_col2 {
    background-color: rgb(156, 105, 152);
    left: 0;
    right: 0;
    position: static !important;
    width: 100%;
  }
  .home_Sec_3_flex {
    flex-direction: column;
  }

  .home_Sec_3_col_1 {
    position: static;
    margin-right: 0 !important;
    width: 100%;
  }

  .home-sec-3-backimg {
    height: 500px !important;
  }
  .home_section_4_grid {
    grid-template-columns: 1fr !important;
  }
  .products_grid_home {
    grid-template-columns: 1fr 1fr;
  }
  .section_6_home_grid {
    grid-template-columns: 1fr !important;
  }
  .section_2_products_grid {
    grid-template-columns: 1fr 1fr;
  }
  .home-sec-3-backimg {
    width: 100% !important;
  }
  .products_dropdown_sorting {
    position: absolute;
    left: 80px;
    background-color: white;
    list-style-type: none;
    display: none;
  }
}
@media (max-width: 400px) {
  .products_grid_home {
    grid-template-columns: 1fr;
  }
  .section_2_products_grid {
    grid-template-columns: 1fr;
  }
}
