.grid_products_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 50px 0px;
  }
  .grid_products_details img {
    width: 100%;
  }
  .second_col_products_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(214, 187, 211);
  }
  .product_detail_section {
    background-color: rgb(214, 187, 211);
  }
  