.section_1_products {
  padding: 50px 0px;
  background-color: rgb(214, 187, 211);
  color: white;
  font-size: 3rem;
}
.section_2_products_grid {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  text-align: center;
}
.allproducts_img img {
  width: 100%;

  transition: 0.5s;
}
.allproducts_img img:hover {
  transform: scale(1.2);
}
.allproducts_img {
  overflow: hidden;
}
.small_heading_products {
  text-align: center;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 24px;
  color: #5f4d5d;
  font-weight: 500;
  margin: 10px 0px;
}
.price_alproducts {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #686767;
}
.products_category a,
.products_category i {
  margin-top: 10px;
  color: #686767 !important;
  font-size: 18px;
}
.sorting_main {
  padding: 50px 0px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.products_main_quantity {
  font-size: 18px;
  color: #5f4d5d;
}
.products_main_quantity a {
  color: #686767;
  font-size: 22px;
}
.sort_dropdown,
option {
  border: none;
  cursor: pointer;
}
.btn_fixed_above {
  position: fixed;
  padding: 30px;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  background-color: rgb(161, 161, 161);
}
.btn_fixed_above i {
  font-size: 25px;
  color: white;
}
