{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="section_1_products"><div class="container">Products</div></div>

<div class="container">
  <div class="section_2_products_grid">
    
      {% for product in products %}
      {% if product.img %}
      <div>
      <div class="allproducts_img">
        <img src="../../../static/images/{{product.img.url}}" alt="" srcset="">
      </div>
      <div class="allproducts_desc">
        <h1 class="small_heading_products">{{ product.name }}</h1>
        <p class="price_alproducts">$ {{ product.price }} USD</p>
      </div>
    </div>
      {% endif %}
      {% endfor %}
  </div>
  <section class="section section-7-about">
    <div class="container">
      <h2 class="heading">What Makes Blingz Accessories Special?</h2>
      <div class="main-div-jewelery-section">
        <div class="delivery-col flex-wrap">
          <i class="fa-solid delivery_img fa-truck-fast"></i>
          <h2 class="small_heading">Worldwide Delivery</h2>
          <p class="para">
            Enjoy the convenience of worldwide delivery, bringing our
            exceptional products directly to your doorstep with speed and
            reliability.
          </p>
        </div>
        <div class="support-col flex-wrap">
          <i class="fa-solid delivery_img fa-comments"></i>
          <h2 class="small_heading">Fast Support</h2>
          <p class="para">
            We're here to help you quickly! Contact us easily through email,
            phone, our online form, or find our shop for assistance. or find our
            shop for assistance.
          </p>
        </div>
        <div class="protection-col flex-wrap">
          <i class="fa-solid delivery_img fa-hands-holding-circle"></i>
          <h2 class="small_heading">Buyer Protection</h2>
          <p class="para">
            Our comprehensive buyer protection ensures that your purchase is
            safeguarded, providing peace of mind and assurance throughout your
            shopping experience.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}