{% extends "base.html" %} {% load static %} {% block content %}
<section class="product_detail_section">
  <div class="container">
    <div class="grid_products_details">
      <div>
        <a href="../../../static/images/{{product.img.url}}" target="_blank">
          <img
            src="../../../static/images/{{product.img.url}}"
            alt=""
            srcset=""
          />
        </a>
      </div>
      <div class="second_col_products_detail">
        <h1 class="small_heading_products heading">{{ product.name }}</h1>
        <p class="price_allproducts heading">$ {{ product.price }} USD</p>
        <p class="allproducts_quantity">quantity</p>
        <input type="number" value="1" class="allproducts_quantity_input" />


        <p class="allproducts_desc para">{{ product.description }}</p>
        <p class="allproducts_desc para">Rating {{ product.ratings }}</p>
        <div class="addtocart_heart_main">
          <a href="#" class="main_btn addtocart">Add To Cart</a>
          <i class="fa-regular fa-heart heart_btn"></i>
          <!-- <i class="fa-solid fa-heart"></i> -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
