{% extends "base.html" %} {% load static %} {% block content %}

<div class="container">
  {% comment %} showing products according to the category which is selected by user  {% endcomment %}
  {% for c in current_categories%}
  <a href="{% url 'products' %}?category={{c.name}}">
    <span class="fs-1 fw-bold" style="color: #b0b0b0; text-transform: capitalize;" >{{c.friendly_name}}</span>
  </a>
  {% endfor %}

  {% comment %} sorting the product according to the price or alphabetically  {% endcomment %}
  <div class="sorting_main">
    <select
      id="sort-selector"
      class="sort_dropdown {% if current_sorting != 'None_None' %}info{% else %}black{% endif %}"
    >
      <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
      <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
      <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
      <option value="ratings_asc" {% if current_sorting == 'ratings_asc' %}selected{% endif %}>Rating (low to high)</option>
      <option value="ratings_desc" {% if current_sorting == 'ratings_desc' %}selected{% endif %}>Rating (high to low)</option>
      <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
      <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
      <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
      <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
    </select>
    <p class="products_main_quantity ">

  {% comment %} button for the category page  {% endcomment %}
  {% if search_term or current_categories or current_sorting != 'None_None' %}
  <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
  {% endif %}
{{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
</p>
  </div>

  <div class="section_2_products_grid">
  {% comment %} showing the products img according to the search  {% endcomment %}
    {% for product in products %} {% if product.img %}
    <div>
      <div class="allproducts_img">
        <a href="{% url 'product_detail' product.id %}">
          <img
            src="{{product.img.url}}"
            alt="{{product.name}}"/>
        </a>
      </div>
      <div class="allproducts_desc">
        {% comment %} produt description  {% endcomment %}
        {% if product.category %}
        <p class="products_category">
          <a href="{% url 'products' %}?category={{ product.category}}">
            <i class="fa-solid fa-tags"></i>{{ product.category.friendly_name}}
          </a>
        </p>
        {% endif %}
        <h1 class="small_heading_products">{{ product.name }}</h1>
        <div class="d-flex justify-content-around">
          <p class="price_alproducts">$ {{ product.price }} USD</p>
          <p class="price_alproducts">{{ product.ratings}} Ratings </p>
        </div>

        {% comment %} if user is admin owner of the wesbite he can use edit and delete button  {% endcomment %}
        {% if request.user.is_superuser %}
        <small class="ml-3">
            <a class="fs-3 mx-3" href="{% url 'edit_product' product.id %}">Edit</a> |
            <a class="text-danger fs-3" href="{% url 'delete_product' product.id %}">Delete</a>
        </small>
    {% endif %}
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
<div >
  <a class="btn_fixed_above" href="#">
    <i class="fa-solid fa-arrow-up"></i>
  </a>
</div>
{% endblock %}

{% comment %} javascript for making the smooth scrooling to the top of the page when we click on the button  {% endcomment %}
{% block postloadjs %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
    $('.btn_fixed_above').click(function(e) {
      window.scrollTo(0,0)
    })
  </script>
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);
            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];
                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");
                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}